
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_DATABASE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=
SNOWFLAKE_SCHEMA=

# DLT Snowflake credentials
DESTINATION__SNOWFLAKE__CREDENTIALS__DATABASE=
DESTINATION__SNOWFLAKE__CREDENTIALS__USERNAME=
DESTINATION__SNOWFLAKE__CREDENTIALS__PASSWORD=
DESTINATION__SNOWFLAKE__CREDENTIALS__HOST=
DESTINATION__SNOWFLAKE__CREDENTIALS__WAREHOUSE=
DESTINATION__SNOWFLAKE__CREDENTIALS__ROLE=